@model KuaforYonetim.ViewModels.CalisanDetayViewModel
@using System.Globalization

<h2>@Model.Calisan.AdSoyad</h2>

<div>
    <strong>Uzmanlık Alanları:</strong>
    <ul>
        @foreach (var hizmet in Model.Calisan.CalisanHizmetler.Select(ch => ch.Hizmet))
        {
            <li>@hizmet.Ad</li>
        }
    </ul>
</div>
<div>
    <strong>Çalışma Saatleri:</strong>
    <ul>
        @foreach (var uygunluk in Model.Calisan.CalisanUygunluklar)
        {
            var turkishDayName = CultureInfo.GetCultureInfo("tr-TR").DateTimeFormat.GetDayName(uygunluk.Gun);
            <li>@turkishDayName: @uygunluk.BaslangicSaati - @uygunluk.BitisSaati</li>
        }
    </ul>
</div>

<div>
    <strong>Dolu Saatler:</strong>
    <div class="row">
        @foreach (var uygunluk in Model.Calisan.CalisanUygunluklar)
        {
            <div class="col-12">
                <h4>@CultureInfo.GetCultureInfo("tr-TR").DateTimeFormat.GetDayName(uygunluk.Gun)</h4>
                <div class="row">
                    @{
                        var start = uygunluk.BaslangicSaati;
                        var end = uygunluk.BitisSaati;
                        while (start < end)
                        {
                            var isDolu = Model.DoluRandevular.Any(r =>
                            r.Tarih.TimeOfDay == start &&
                            r.Tarih.DayOfWeek == uygunluk.Gun);

                            <div class="col-1">
                                <span class="badge @(isDolu ? "bg-danger" : "bg-success")">@start</span>
                            </div>
                            start = start.Add(new TimeSpan(1, 0, 0)); // 1 saat ekle
                        }
                    }
                </div>
            </div>
        }
    </div>
</div>  