@model KuaforYonetim.Models.Calisan

<h2>@Model.AdSoyad</h2>

<div>
    <strong>Uzmanlık Alanları:</strong>
    <ul>
        @foreach (var hizmet in Model.CalisanHizmetler.Select(ch => ch.Hizmet))
        {
            <li>@hizmet.Ad</li>
        }
    </ul>
</div>
<div>
    <strong>Çalışma Saatleri:</strong>
    @foreach (var uygunluk in Model.CalisanUygunluklar)
    {
        <div>
            @uygunluk.Gun: @uygunluk.BaslangicSaati - @uygunluk.BitisSaati
        </div>
    }
</div>
<a href="/Randevu/Ekle?calisanId=@Model.CalisanId" class="btn btn-primary">Randevu Al</a>